.expo/
dist/
npm-debug.*
.env
coverage/
.DS_Store
node_modules/
npm-debug.log
yarn-error.log


# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
